@import url(../../vendor/Fonts/fonts.css);

.movies__cards {
    display: flex;
    flex-direction: column;
    background-color: #202020;
}

.movies__add-botton {
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 60px 0 0;
    text-align: center;
    padding: 11px 0 9px;
    background-color: #2F2F2F;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    max-width: 1140px;
    cursor: pointer;
    align-self: center;
}

.movies__add-botton:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .movies__add-botton {
        max-width: 708px;
    }
}